<h1 class="product-title"><%= @product.name %></h1>

<% if @product.featured_image.attached? %>
  <div class="product-image">
    <%= image_tag @product.featured_image %>
  </div>
<% end %>

<div class="product-description">
  <% cache @product do %>
    <%= @product.description %>
  <% end %>
</div>

<div class="product-actions">
  <%= link_to "Back", products_path, class: "action-link back-link" %>
  <%= link_to "Edit", edit_product_path(@product), class: "action-link edit-link" %>
  <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "action-link delete-button" %>
</div>